body{
	background-color: #bbb5a1;
	background-size: cover;
	max-height: 100%;
}

#doggrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
    width: 35%;
    padding: 20px;
}

#doggrid img{
	max-height: 19vh;
	outline-color: #232323;
	outline-style: solid;
	outline-width: 1px;
}
#doggrid img:hover{
	max-height: 19vh;
	outline-color: #232323;
	outline-style: dashed;
	outline-width: 2px;
	transform: scale(1.01);
    transition: 0.1s;
}

#pop-up-wrapper{
	display: none;
    background-color: #bbb5a1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 1px;
    width: 50%;
    right: 1px;
    font-family: monospace;
    color: #232323;
    margin-top: 30px;
    margin-left: 150px;
    outline-color: #bbb5a1;
    outline-style: solid;
    outline-width: 30px;
    padding-left: 2px;
}

#pop-up-wrapper img{
	height: 65vh;
	align-content: center;
	justify-content: center;
	padding: 30px;
}

#pop-up-wrapper h1{
	font-size: 18px;
}
#pop-up-wrapper h2{
	font-size: 12px;
}

.text-info{
	outline-color: #232323;
	outline-style: solid;
	outline-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 70%;
}
.detail-view{
    display: none;
}

.definition{
	color: #bbb5a1;
	background-color: #232323;
	width: 27%;
	padding: 20px;
	outline-color: #bbb5a1;
	outline-style: solid;
	outline-width: 2px;
	position: absolute;
	bottom: 150px;
	left: 50px;
	box-shadow: 20px 20px #232323, 22px 22px #bbb5a1;
}

.content{
	width: 55%;
	right: 1px;
	position: absolute;
	top: 1px;
}

